<h1>Seat Yourself</h1>
<h2>Get a seat quick...</h2>

<p>
<% @restaurants.each do |restaurant| %>
  <%= link_to(image_tag(restaurant.image_url), "restaurants/#{restaurant.id}") %>
  <p><%= link_to("#{restaurant.name}", "restaurants/#{restaurant.id}") %></p>
  <p>Address: <%= restaurant.location %></p>
  <p>Capacity: <%= restaurant.capacity %></p>
<% end %>
</p>
